dist_electron
node_modules
dist
out
.DS_Store
.eslintcache
*.log*

/src/generated/prisma

# Configurações de Banco/Nuvem
backblaze_config.json

.rag_config.json
prisma/*.db
prisma/*.db-journal

.env
.openclaude-profile.json
.claude/
